:root {
  --bubble-color: aquamarine;
  --bubble-hover-color: paleturquoise;
}

.bubble {
  width: 50px;
  height: 50px;
  background-color: var(--bubble-color);
  border-radius: 100%;
  text-align: center;
  font-size: 1.5em;
  margin: 2px;
  transition: transform 2s cubic-bezier(0.5, 1.75, 0.75, 1.25),
    opacity 1s ease-in-out;
}

.bubble:hover,
.bubble:focus {
  background-color: var(--bubble-hover-color);
  transform: scale(1.6);
  opacity: 0.6;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
